main
	width: 100vw
	height: 100vh
	position: absolute
	top: 0
	left: 0
	background-image: url('./resources/images/loader.png')
	background-size: cover
	background-repeat: repeat

	&.slideout
		animation: slideout
		animation-delay: 500ms
		animation-duration: 2s
		animation-iteration-count: 1
		animation-timing-function: ease-in-out

		@keyframes slideout
			0%
				left: 0
			50%
				left: -60vw
			60%
				left: -60vw
			70%
				left: -30vw
			100%
				left: -100vw

	.loader-container
		width: 180px
		height: auto
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)

		.message
			width: 180px
			height: 50px
			position: relative

			.bar
				position: absolute
				top: 0
				left: 0px
				background-color: map-get($purple, 'light')
				width: 5px
				height: 0		
				transform-origin: center

				&.initial
					transition: 500ms all ease
					height: 50px

				&.typing
					height: 50px
					animation: rotate 300ms linear infinite

				&.slide
					height: 50px
					transition: 750ms all ease-in-out
					left: 175px
				
				&.closed
					height: 50px
					transition: 750ms all ease-in-out
					left: 0px

				&.reflow
					transition: 500ms all ease
					opacity: 0

				@keyframes rotate
					0%
						transform: rotate(0deg)
					50%
						transform: rotate(180deg)
					100%
						transform: rotate(360deg)

			.slider
				width: 180px
				height: 50px
				position: absolute
				top: 0
				left: 0
				overflow: hidden

				&.closed
					transition: 750ms all ease
					width: 5px
					
				.typed, .highlight
					height: 50px
					line-height: 50px
					text-align: center
					letter-spacing: 0.1em
					position: absolute
					top: 0
					left: 0
					font-family: Esphimere-Bold
					font-size: 25px
					color: #FFF
				
				.typed
					width: 180px

				.highlight
					background-color: map-get($purple, 'light')
					width: 0px
					overflow: hidden			

					&.slide, &.closed
						transition: 750ms all ease
						width: 180px

		.bounce-loader
			display: flex
			width: 60px
			height: 50px
			padding-top: 150px
			margin: auto
			justify-content: space-between

			.ball
				background-color: map-get($purple, 'dark')
				width: 10px
				height: 10px
				border-radius: 50%
				position: relative
				top: 0
				opacity: 0

				&.initial
					transition: 300ms ease-in
					opacity: 1

					&:nth-child(2)
						transition-delay: 100ms
					&:nth-child(3)
						transition-delay: 200ms

					&.first:nth-child(1)						
						transition: 500ms ease-in

					&.first:nth-child(1), &.second:nth-child(1),	&.third:nth-child(1)
						top: 100px
						opacity: 0

					&.second:nth-child(2)						
						transition: 500ms ease-in

					&.second:nth-child(2),	&.third:nth-child(2)
						top: 100px
						opacity: 0

					&.third:nth-child(3)
						top: 100px
						opacity: 0
						transition: 500ms ease-in

		.logo-loader
			width: 240px
			height: 240px
			position: absolute
			top: 50%
			left: -30px
			transform: translate(0, -50%)

			.r-logo
				width: 100px
				height: 100px
				position: absolute
				top: 70px
				left: 70px
				opacity: 0
				transform: scale(0.8)
				transition: all 500ms ease-in-out

				&.reflow
					opacity: 1
					transform: scale(1)

			.r-svg
				width: 240px
				height: 240px
				position: absolute
				transition: all 1s ease-in-out

				&.loaded
					opacity: 0

				.r-border 
					fill: none
					stroke: map-get($purple, 'light')
					stroke-width: 5
					transition: all 1s ease-in-out
					transform-origin: center
					transform: rotate(-45deg)

					&.reflow, &.loaded
						stroke-dashoffset: 0



					