.logo-container
	width: auto
	height: 40px
	position: absolute
	z-index: 20
	top: 15px
	left: 15px
	display: flex

	.logo
		width: 40px
		height: 40px
		position: relative

		.logo-reflow-svg
			width: 20px
			height: 20px
			position: absolute
			top: 10px
			left: 10px

		.logo-border-svg
			width: 40px
			height: 40px
			position: absolute
			top: 0
			left: 0


			.logo-border-circle
				fill: none
				stroke: map-get($purple, 'light')
				stroke-width: 2
			

	.logo-labels
		padding-top: 10px
		padding-left: 10px
		h2
			width: auto
			height: 10px
			font-family: Esphimere-Bold
			font-size: 8px
			letter-spacing: 0.4em
			text-transform: uppercase
			color: #FFF