header
  width: 100vw
  height: 100vh
  position: absolute
  top: 0
  left: 0
  background-image: url('./resources/images/bg.png')
  background-size: cover
  background-repeat: no-repeat

  svg
    width: 300px
    height: 300px
    stroke-dasharray: 4000
    stroke-dashoffset: 4000